.select {
	position: relative;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.select__item {
	position: relative;
}
.select__title {
	cursor: pointer;
}
.select__value {
	width: 32px;
	display: flex;
	opacity: 0.5;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #ffffff;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row-reverse;
}
.select__value span {
	height: 1em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.select__value::before {
	content: "";
	margin: 0px 0px 0px 5px;
	display: inline-block;
	transition: all 0.3s ease 0s;
	width: 6px;
	height: 4px;
	background: url("../img/header/arrow.png") center no-repeat;
}
.select__options {
	display: none;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #ffffff88;
	position: absolute;
	top: 0px;
	min-width: 100%;
	left: 0;
	font-size: 16px;
	margin: 15px 0px 0px 0px;
}
.select__option {
	cursor: pointer;
	padding: 10px 0px;
	margin: 0px;
}
.select._active {
	z-index: 5;
}
.select._active .select__value::before {
	transform: rotate(-180deg);
}
.select._active.select__options {
	display: block;
	background-color: #000;
}

@media (max-width: 670px) {
	.select__option {
		padding: 6px 0px;
	}
}

@media (max-width: 430px) {
	.select__value {
		font-size: 13px;
		width: 30px;
	}
	.select__options {
		font-size: 13px;
	}
}
