@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-size: 14px;
  color: #000;
  font-family: "ProximaNova";
  font-weight: 700; }
  body._lock {
    min-width: auto; }
    @media (max-width: 450px) {
      body._lock {
        overflow: hidden; } }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/Mark Simonson - Proxima Nova Bold.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Bold.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Bold.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/Mark Simonson - Proxima Nova Extra Condensed Regular.eot");
  src: local("☺"), url("../fonts/Mark Simonson - Proxima Nova Extra Condensed Regular.woff") format("woff"), url("../fonts/Mark Simonson - Proxima Nova Extra Condensed Regular.ttf") format("truetype"), url("../fonts/Mark Simonson - Proxima Nova Extra Condensed Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.container {
  max-width: 1260px;
  margin: 0px auto;
  padding: 0px 15px; }

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 30px; }
  .header__wrapper {
    padding: 30px 32px 30px 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .header__wrapper:before {
      content: "";
      display: block;
      -webkit-transition: all 0.7s ease 0s;
      -o-transition: all 0.7s ease 0s;
      transition: all 0.7s ease 0s;
      opacity: 0;
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000; }
    .header__wrapper.color:before {
      content: "";
      opacity: 1; }
  .header__column_2, .header__column_3 {
    position: relative;
    z-index: 3; }
  .header__touch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__burger {
    cursor: pointer;
    position: relative;
    z-index: 11;
    width: 33px;
    height: 24px; }
    .header__burger:before {
      content: "";
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background-color: #bea67c; }
    .header__burger span {
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      top: 8.5px;
      left: 0;
      background-color: #bea67c; }
    .header__burger:after {
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      top: 18px;
      left: 0;
      background-color: #bea67c; }
    .header__burger._active:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 50%; }
    .header__burger._active span {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    .header__burger._active:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 50%; }
  .header__text {
    position: relative;
    z-index: 11;
    margin: 0px 0px 0px 12px;
    cursor: pointer;
    opacity: 0.5;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff; }
  .header__menu {
    position: fixed;
    z-index: 2;
    width: 22%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #111010;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header__menu li {
      list-style: none; }
      .header__menu li:nth-child(2) {
        margin: 20% 0px; }
    .header__menu._active {
      left: 0; }
  .header__link {
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #fff; }
    .header__link:hover:before {
      opacity: 0.5;
      top: 103%; }
    .header__link:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      left: 0;
      background-color: #bea67c;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .header__logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header__logo {
    position: relative;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #ffffff; }
    .header__logo:hover:before {
      top: -5%; }
    .header__logo:before {
      content: "";
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      width: 64px;
      height: 4px;
      background-color: #bea67c;
      position: absolute;
      top: 45%;
      left: 20%;
      -webkit-transform: translate(0, -45%);
      -ms-transform: translate(0, -45%);
      transform: translate(0, -45%); }
  .header__main-menu {
    margin: 0px 0px 0px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__main-menu li {
      list-style: none;
      margin: 0px 50px; }
      .header__main-menu li:first-child {
        margin: 0px 50px 0px 0px; }
      .header__main-menu li:last-child {
        margin: 0px 0px 0px 50px; }
  .header__main-link {
    position: relative;
    opacity: 0.5;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff; }
    .header__main-link:hover:before {
      opacity: 1;
      top: 95%; }
    .header__main-link:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      left: 0;
      background-color: #bea67c;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .header__communication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 23px;
    flex: 0 1 23px;
    cursor: pointer; }
    .header__image img {
      max-width: 100%;
      opacity: 0.5; }
    .header__image:hover ~ .header__info-text {
      -webkit-transform: translate(0, 10px) scale(1);
      -ms-transform: translate(0, 10px) scale(1);
      transform: translate(0, 10px) scale(1); }
  .header__info-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    right: 0;
    width: 250px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0, 10px) scale(0);
    -ms-transform: translate(0, 10px) scale(0);
    transform: translate(0, 10px) scale(0); }
    .header__info-text p {
      position: relative;
      z-index: 3;
      color: rgba(255, 255, 255, 0.678);
      font-size: 18px;
      line-height: 20px;
      text-align: center; }
    .header__info-text span {
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 5px; }
  .header__languages {
    margin: 0px 0px 0px 52px; }
  @media (max-width: 1450px) {
    .header__languages {
      margin: 0px 0px 0px 25px; } }
  @media (max-width: 1150px) {
    .header__languages {
      margin: 0px 0px 0px 15px; }
    .header__main-menu {
      margin: 0px 0px 0px 50px; }
      .header__main-menu li {
        margin: 0px 30px; }
        .header__main-menu li:first-child {
          margin: 0px 30px 0px 0px; }
        .header__main-menu li:last-child {
          margin: 0px 0px 0px 30px; }
    .header__info-text {
      top: 100%;
      right: -240%; } }
  @media (max-width: 970px) {
    .header__main-menu {
      margin: 0px 0px 0px 20px; }
      .header__main-menu li {
        margin: 0px 15px; }
        .header__main-menu li:first-child {
          margin: 0px 15px 0px 0px; }
        .header__main-menu li:last-child {
          margin: 0px 0px 0px 15px; } }
  @media (max-width: 857px) {
    .header__wrapper {
      padding: 15px; }
    .header__menu {
      width: 30%; }
    .header__logo-wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .header__main-menu {
      margin: 20px 0px 0px 0px; } }
  @media (max-width: 810px) {
    .header__info-text {
      right: -200%; }
      .header__info-text span {
        background-color: #6d5d41; } }
  @media (max-width: 670px) {
    .header__menu {
      width: 35%; }
    .header__text {
      display: none;
      opacity: 0;
      visibility: hidden; }
    .header__logo {
      font-size: 26px; }
      .header__logo:before {
        width: 46px; }
    .header__communication {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .header__info-text {
      right: 120%; }
      .header__info-text p {
        font-size: 14px;
        line-height: 16px; }
    .header__languages {
      margin: 15px 0px 0px 6px; } }
  @media (max-width: 450px) {
    .header__menu {
      width: 100%; } }
  @media (max-width: 430px) {
    .header__main-menu {
      margin: 10px 0px 0px 0px; }
      .header__main-menu li {
        margin: 0px 10px; }
        .header__main-menu li:first-child {
          margin: 0px 10px 0px 0px; }
        .header__main-menu li:last-child {
          margin: 0px 0px 0px 10px; }
    .header__main-link {
      font-size: 13px; }
    .header__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 15px;
      flex: 0 1 15px; }
    .header__languages {
      margin: 15px 0px 0px 0px; } }

.main {
  background: url("../img/main/01.png") 0 0 no-repeat;
  position: relative; }
  .main__photos {
    position: relative; }
  .main__slider {
    height: 1000px;
    position: relative;
    z-index: 100; }
  .main__navigation {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 5px;
    left: -5.5%;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main__letter {
    position: absolute;
    z-index: 2;
    width: 190px;
    height: 266px;
    bottom: -10%;
    left: 17%;
    opacity: 0.07;
    font-size: 395.6px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #bea67c; }
  .main__wrap {
    width: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main__number {
    position: relative;
    font-size: 52.4px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #bea67c;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 0px 0px 85px 0px; }
    .main__number:before {
      content: "";
      position: absolute;
      width: 51px;
      height: 4px;
      top: 45%;
      left: -70px;
      background-color: #c0af91;
      -webkit-transform: translate(0, -45%);
      -ms-transform: translate(0, -45%);
      transform: translate(0, -45%); }
  .main__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main__pagination .swiper-pagination-bullet {
      -webkit-transition: all 0.7s ease 0s;
      -o-transition: all 0.7s ease 0s;
      transition: all 0.7s ease 0s;
      margin: 0px 0px 40px 0px;
      width: 10px;
      height: 10px;
      background-color: #bea67c; }
      .main__pagination .swiper-pagination-bullet:last-child {
        margin: 0px 0px 0px 0px; }
  .main__right {
    position: absolute;
    z-index: 3;
    width: 51%;
    height: 103%;
    top: 0;
    right: 0;
    background: url("../img/main/02.png") right no-repeat; }
    .main__right:before {
      content: "";
      display: block;
      position: absolute;
      bottom: -2%;
      left: 57%;
      width: 4px;
      height: 51px;
      background-color: #bea67c; }
  .main__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -7%;
    left: 7%;
    font-size: 13.7px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #bea67c2f;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .main__share {
    position: absolute;
    width: 23px;
    height: 25px;
    bottom: 32px;
    right: 32px;
    z-index: 3;
    cursor: pointer; }
  @media (max-width: 1100px) {
    .main__slider {
      height: 800px; }
    .main__navigation {
      left: -12.5%; }
    .main__number {
      display: none; }
    .main__text {
      top: 8%; }
    .main__letter {
      bottom: -18%;
      left: 10%;
      font-size: 305.6px; } }
  @media (max-width: 857px) {
    .main__slider {
      height: 100vh; }
    .main__right {
      width: 41%; }
    .main__letter {
      left: 8%;
      bottom: -28.5%;
      font-size: 230px; }
    .main__navigation {
      top: 9%; }
    .main__pagination .swiper-pagination-bullet {
      margin: 0px 0px 30px 0px; }
      .main__pagination .swiper-pagination-bullet:last-child {
        margin: 0px 0px 0px 0px; } }
  @media (max-width: 660px) {
    .main__right {
      background: transparent; }
      .main__right:before {
        bottom: 0.5%;
        left: 57%;
        width: 2px;
        height: 31px;
        background-color: #bea67c; }
    .main__text {
      display: none; }
    .main__pagination .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      margin: 0px 0px 25px 0px; }
      .main__pagination .swiper-pagination-bullet:last-child {
        margin: 0px 0px 0px 0px; }
    .main__letter {
      left: 9%;
      bottom: -30.5%;
      font-size: 200px; }
    .main__share {
      right: 16px; } }
  @media (max-width: 500px) {
    .main__pagination {
      display: none; } }

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 3;
  position: absolute;
  width: 550px;
  height: 500px;
  top: 31%;
  left: -230px;
  margin: 0px auto; }
  .label__title {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #bea67c; }
  .label__button {
    margin: 51px 0px 58px 0px;
    display: block;
    width: 307px;
    height: 58px;
    border: 2px solid #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .label__button:hover p:after {
      opacity: 1;
      top: 50%;
      right: -41px; }
    .label__button:hover p:before {
      opacity: 1;
      top: 45%;
      right: -41px; }
    .label__button:hover p span {
      opacity: 1;
      top: 54%;
      right: -42px; }
    .label__button p {
      position: relative;
      font-size: 14px;
      line-height: 69px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: #ffffff; }
      .label__button p:after {
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        content: "";
        opacity: 0;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 34px;
        height: 1px;
        background-color: #fff;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      .label__button p:before {
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        opacity: 0;
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 1px;
        top: 50%;
        right: 0;
        background-color: #fff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .label__button p span {
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        opacity: 0;
        display: block;
        position: absolute;
        width: 8px;
        height: 1px;
        top: 50%;
        right: 0;
        background-color: #fff;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
  .label__touch {
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .label__mouse {
    -webkit-animation: mouse 1s linear alternate infinite;
    animation: mouse 1s linear alternate infinite; }

@-webkit-keyframes mouse {
  0% {
    -webkit-transform: translate(0, -15%);
    transform: translate(0, -15%); }
  100% {
    -webkit-transform: translate(0, 15%);
    transform: translate(0, 15%); } }

@keyframes mouse {
  0% {
    -webkit-transform: translate(0, -15%);
    transform: translate(0, -15%); }
  100% {
    -webkit-transform: translate(0, 15%);
    transform: translate(0, 15%); } }
  .label__link {
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .label__arrow {
    margin: 23px 0px 0px 0px;
    position: relative;
    width: 1px;
    height: 74px;
    background-color: #ffffff; }
    .label__arrow:before {
      content: "";
      position: absolute;
      width: 1px;
      height: 8px;
      bottom: -2px;
      left: 2.5px;
      background-color: #fff;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .label__arrow:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 8px;
      bottom: -2px;
      left: -2.5px;
      background-color: #fff;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .label__text {
    margin: 55px 0px 0px 0px;
    opacity: 0.1;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  @media (max-width: 1100px) {
    .label {
      top: 18%; } }
  @media (max-width: 1000px) {
    .label {
      width: 400px;
      left: -195px; }
      .label__title {
        font-size: 70px; }
      .label__button {
        width: 207px;
        height: 48px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 0px 0px 0px 25px; }
        .label__button p:after {
          opacity: 1;
          top: 50%;
          right: -41px;
          width: 29px; }
        .label__button p:before {
          opacity: 1;
          top: 46%;
          right: -41.2px; }
        .label__button p span {
          opacity: 1;
          top: 54%;
          right: -41.5px; } }
  @media (max-width: 857px) {
    .label {
      width: 320px;
      top: 23%;
      left: -215px; }
      .label__title {
        font-size: 55px; }
      .label__button {
        margin: 41px 0px 48px 0px;
        width: 170px;
        padding: 0px 0px 0px 0px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .label__button p:after {
          display: none; }
        .label__button p:before {
          display: none; }
        .label__button p span {
          display: none; }
      .label__arrow {
        height: 54px; } }
  @media (max-width: 660px) {
    .label {
      width: 100%;
      height: 100%;
      left: -68%;
      top: 2%; }
      .label__title {
        font-size: 45px; }
      .label__mouse {
        display: none; }
      .label__arrow {
        margin: 0px 0px 0px 0px; }
      .label__text {
        font-size: 12px; }
      .label__button {
        margin: 31px 0px 38px 0px;
        width: 130px;
        height: 42px; }
        .label__button p {
          font-size: 12px; }
      .label__arrow {
        height: 40px; } }
  @media (max-width: 500px) {
    .label {
      top: 5%; } }

.description {
  padding: 133px 0px 0px 0px; }
  .description__block {
    position: relative; }
  .description__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .description__wrapper_even {
      margin: 281px 0px 0px 0px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
  .description__letter {
    position: absolute;
    top: -286px;
    right: -150px;
    opacity: 0.07;
    font-size: 395.6px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #bea67c; }
  .description__column {
    margin: 0px 43px; }
    .description__column_img {
      position: relative;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 616px;
      flex: 0 1 616px; }
      .description__column_img img {
        max-width: 100%; }
  .description__upperimg {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 39%;
    opacity: 0.2;
    font-size: 169.4px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    color: #d0d0d0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    .description__upperimg_2 {
      left: -59%; }
  .description__number {
    position: absolute;
    width: auto;
    height: auto;
    bottom: -93px;
    left: -174px; }
    .description__number:after {
      content: "";
      position: absolute;
      top: 100px;
      left: 50%;
      width: 4px;
      height: 51px;
      background-color: #a9946e;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
    .description__number p {
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.075em;
      color: #000000; }
      .description__number p span {
        color: #bea67c; }
    .description__number_2 {
      position: absolute;
      bottom: -136px;
      left: 173%;
      -webkit-transform: translate(-140px, 0);
      -ms-transform: translate(-140px, 0);
      transform: translate(-140px, 0); }
      .description__number_2:after {
        content: "";
        top: 82px; }

.info {
  position: relative; }
  .info__title {
    position: relative;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    color: #010101; }
    .info__title::before {
      content: "";
      position: absolute;
      margin: 0px 31px 0px 0px;
      display: block;
      width: 151px;
      height: 1px;
      top: 50%;
      left: -178px;
      background-color: #000;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .info__title_2 {
      text-align: right;
      position: relative; }
      .info__title_2:before {
        display: none; }
      .info__title_2:after {
        content: "";
        position: absolute;
        margin: 0px 0px 0px 34px;
        display: block;
        width: 151px;
        height: 1px;
        top: 50%;
        right: -178px;
        background-color: #000;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
  .info__text {
    position: relative;
    max-width: 370px;
    margin: 28px 0px 32px 0px;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.025em;
    color: #464646; }
    .info__text_2 {
      text-align: right; }
      .info__text_2::before {
        display: none; }
      .info__text_2:after {
        content: "";
        position: absolute;
        top: 10px;
        right: -73px;
        width: 44px;
        height: 4px;
        background-color: #bea67c; }
    .info__text:before {
      content: "";
      position: absolute;
      top: 10px;
      left: -73px;
      width: 44px;
      height: 4px;
      background-color: #bea67c; }

.lrn {
  display: block;
  width: 120px;
  padding: 0px 0px 9px 0px;
  position: relative; }
  .lrn:after {
    content: "";
    position: absolute;
    width: 44px;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: #a9946e; }
  .lrn:hover p:after {
    opacity: 1;
    top: 50%;
    right: -41px; }
  .lrn:hover p:before {
    opacity: 1;
    top: 30%;
    right: -42px; }
  .lrn:hover p span {
    opacity: 1;
    top: 60%;
    right: -42px; }
  .lrn p {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
    position: relative; }
    .lrn p:after {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      content: "";
      opacity: 0;
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 33px;
      height: 1px;
      background-color: #bea67c;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .lrn p:before {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      opacity: 0;
      content: "";
      display: block;
      position: absolute;
      width: 6px;
      height: 1px;
      top: 20%;
      right: 0;
      background-color: #bea67c;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .lrn p span {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      opacity: 0;
      display: block;
      position: absolute;
      width: 6px;
      height: 1px;
      top: 74%;
      right: 0;
      background-color: #bea67c;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .lrn_rev {
    position: absolute;
    right: 0; }
    .lrn_rev:after {
      display: none; }
    .lrn_rev:before {
      content: "";
      position: absolute;
      width: 44px;
      height: 2px;
      bottom: 0px;
      right: 6px;
      background-color: #a9946e; }
    .lrn_rev p:after {
      content: "";
      left: 0; }
    .lrn_rev p:before {
      content: "";
      left: 0; }
    .lrn_rev p span {
      left: 0; }
    .lrn_rev:hover p:after {
      opacity: 1;
      top: 50%;
      left: -41px; }
    .lrn_rev:hover p:before {
      opacity: 1;
      top: 30%;
      left: -42px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .lrn_rev:hover p span {
      opacity: 1;
      top: 60%;
      left: -42px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

@media (max-width: 1545px) {
  .description {
    padding: 180px 0px 133px 0px; }
    .description__wrapper_even {
      margin: 230px 0px 0px 0px; }
    .description__column_img {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 416px;
      flex: 0 1 416px; }
    .description__upperimg {
      font-size: 114.4px; }
    .description__letter {
      top: -226px;
      right: -60px;
      font-size: 275.6px; }
    .description__number {
      position: absolute;
      width: auto;
      height: auto;
      bottom: -100px; }
      .description__number:after {
        top: 60px;
        height: 41px;
        background-color: #a9946e;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0); }
      .description__number_2 {
        bottom: -136px;
        left: 173%; }
        .description__number_2:after {
          top: 60px; } }

@media (max-width: 1300px) {
  .description__number {
    left: -120px; }
    .description__number_2 {
      left: 158%; }
  .info__title::before {
    width: 100px;
    left: -127px; }
  .info__title_2:after {
    width: 100px;
    right: -127px; } }

@media (max-width: 1170px) {
  .description {
    padding: 180px 0px 100px 0px; }
    .description__column {
      margin: 0px 15px; } }

@media (max-width: 1100px) {
  .description {
    padding: 133px 0px 100px 0px; }
    .description__wrapper_even {
      margin: 130px 0px 0px 0px; }
    .description__column {
      margin: 0px 25px; }
    .description__letter {
      display: none; }
    .description__number {
      left: 0;
      bottom: -70px; }
      .description__number p {
        font-size: 32px; }
      .description__number:after {
        display: none; }
      .description__number_2 {
        bottom: -110px;
        left: 122%; }
  .info__title {
    font-size: 40px; }
    .info__title:before {
      display: none; }
    .info__title_2:after {
      display: none; }
  .info__text {
    margin: 20px 0px; }
    .info__text:before {
      display: none; }
    .info__text_2:after {
      display: none; } }

@media (max-width: 855px) {
  .description {
    padding: 70px 0px 70px 0; }
    .description__wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .description__wrapper_even {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        margin: 70px 0px 0px 0px; }
    .description__column {
      margin: 0px 0px 0px 0px;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
      .description__column_img {
        margin: 35px 0px 0px 0px;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 450px;
        flex: 0 1 450px; }
        .description__column_img_2 {
          margin: 55px 0px 0px 0px; }
    .description__number {
      display: none; }
    .description__upperimg_2 {
      left: -42%; }
  .info {
    text-align: center; }
    .info__title_2 {
      text-align: center; }
    .info__text {
      max-width: 700px;
      margin: 25px auto 30px auto; }
      .info__text_2 {
        text-align: center; }
    .info__button {
      margin: 0px auto; }
  .lrn_rev {
    left: 0; } }

@media (max-width: 500px) {
  .description {
    padding: 70px 0px 30px 0px; }
    .description__wrapper_even {
      margin: 55px 0px 0px 0px; }
    .description__column_img {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
      flex: 0 1 350px; }
    .description__upperimg {
      font-size: 84.4px; }
      .description__upperimg_2 {
        left: -46%; } }

@media (max-width: 450px) {
  .description__column_img {
    margin: 25px 0px 0px 0px; }
    .description__column_img_2 {
      margin: 50px 0px 0px 0px; }
  .info__text {
    margin: 20px auto 15px auto; } }

@media (max-width: 390px) {
  .description__wrapper_even {
    margin: 45px 0px 0px 0px; }
  .description__column_img {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px; } }

.quality {
  padding: 115px 0px 150px 0px;
  text-align: center;
  /*@keyframes circle {
		0% {
			width: 247px;
			height: 247px;
			border: 1px solid #e1e1e1;
		}
		100% {
			width: 292px;
			height: 292px;
			border: 1px solid #e1e1e10e;
		}
	}*/ }
  .quality__title {
    position: relative;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    color: #000000; }
    .quality__title span {
      letter-spacing: 0.025em; }
    .quality__title:after {
      content: "";
      position: absolute;
      bottom: -30px;
      left: 50%;
      width: 44px;
      height: 4px;
      background-color: #bea67c;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
  .quality__text {
    max-width: 570px;
    margin: 58px auto 0px auto;
    font-size: 15.1px;
    line-height: 25px;
    letter-spacing: 0.025em;
    color: #636262; }
  .quality__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 80px -55px 0px -55px; }
  .quality__column {
    padding: 0px 55px; }
  .quality__photo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .quality__photo:hover a > img:first-child {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
      transform: scale(1.02); }
    .quality__photo:hover:after {
      width: 244px;
      height: 244px; }
    .quality__photo a > img:first-child {
      display: block;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .quality__photo:after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
      width: 272px;
      height: 272px;
      border: 1px solid #e1e1e1;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
  .quality__link {
    z-index: 3;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .quality__link span {
      position: absolute;
      display: block;
      width: 68px;
      height: 68px;
      opacity: 0.8;
      background-color: #bea67c;
      border-radius: 50%; }
  .quality__main-img {
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .quality__triangle {
    position: absolute;
    width: 22px;
    height: 25px;
    -webkit-transform: translate(15%, 5%);
    -ms-transform: translate(15%, 5%);
    transform: translate(15%, 5%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .quality__label {
    position: relative;
    margin: 48px 0px 0px 0px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025em; }
    .quality__label a {
      color: #000; }
    .quality__label:before {
      content: "";
      position: absolute;
      top: -18px;
      left: 50%;
      width: 25px;
      height: 1px;
      background-color: #bea67c;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
  @media (max-width: 1100px) {
    .quality {
      padding: 50px 0px 50px 0px; } }
  @media (max-width: 1030px) {
    .quality__wrapper {
      margin: 20px -55px 0px -55px; }
    .quality__column {
      margin: 50px 0px 0px 0px;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%; } }
  @media (max-width: 750px) {
    .quality__wrapper {
      margin: 20px -15px 0px -15px; }
    .quality__column {
      padding: 0px 15px; } }
  @media (max-width: 660px) {
    .quality {
      padding: 30px 0px; }
      .quality__title {
        font-size: 40px; }
        .quality__title:after {
          content: "";
          bottom: -20px; }
      .quality__text {
        margin: 40px auto 0px auto; }
      .quality__wrapper {
        margin: 0; }
      .quality__column {
        padding: 0px 0px 0px 0px;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%; } }
  @media (max-width: 520px) {
    .quality__title {
      line-height: 48px; } }
  @media (max-width: 400px) {
    .quality__title {
      font-size: 36px;
      line-height: 42px; }
      .quality__title:after {
        content: "";
        bottom: -20px; } }
