//  <MAIN>  =====================================================

.main {
	background: url("../img/main/01.png") 0 0 no-repeat;
	position: relative;
	&__photos {
		position: relative;
	}
	&__slider {
		height: 1000px;
		position: relative;
		z-index: 100;
	}
	&__navigation {
		position: absolute;
		width: 50%;
		height: 100%;
		top: 5px;
		left: -5.5%;
		z-index: 3;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__letter {
		position: absolute;
		z-index: 2;
		width: 190px;
		height: 266px;
		bottom: -10%;
		left: 17%;
		opacity: 0.07;
		font-size: 395.6px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #bea67c;
	}
	&__wrap {
		width: 38px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__number {
		position: relative;
		font-size: 52.4px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #bea67c;
		transform: rotate(90deg);
		margin: 0px 0px 85px 0px;
		&:before {
			content: "";
			position: absolute;
			width: 51px;
			height: 4px;
			top: 45%;
			left: -70px;
			background-color: #c0af91;
			transform: translate(0, -45%);
		}
	}
	&__pagination {
		display: flex;
		flex-direction: column;
		& .swiper-pagination-bullet {
			transition: all 0.7s ease 0s;
			margin: 0px 0px 40px 0px;
			width: 10px;
			height: 10px;
			background-color: #bea67c;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}
	&__right {
		position: absolute;
		z-index: 3;
		width: 51%;
		height: 103%;
		top: 0;
		right: 0;
		background: url("../img/main/02.png") right no-repeat;
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: -2%;
			left: 57%;
			width: 4px;
			height: 51px;
			background-color: #bea67c;
		}
	}
	&__text {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: -7%;
		left: 7%;
		font-size: 13.7px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #bea67c2f;
		transform: rotate(90deg);
	}
	&__share {
		position: absolute;
		width: 23px;
		height: 25px;
		bottom: 32px;
		right: 32px;
		z-index: 3;
		cursor: pointer;
	}
	&__label {
	}
	@media (max-width: 1100px) {
		&__slider {
			height: 800px;
		}
		&__navigation {
			left: -12.5%;
		}
		&__number {
			display: none;
		}
		&__text {
			top: 8%;
		}
		&__letter {
			bottom: -18%;
			left: 10%;
			font-size: 305.6px;
		}
	}
	@media (max-width: 857px) {
		&__slider {
			height: 100vh;
		}
		&__right {
			width: 41%;
		}
		&__letter {
			left: 8%;
			bottom: -28.5%;
			font-size: 230px;
		}
		&__navigation {
			top: 9%;
		}
		&__pagination {
			& .swiper-pagination-bullet {
				margin: 0px 0px 30px 0px;
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
	}
	@media (max-width: 660px) {
		&__right {
			background: transparent;
			&:before {
				bottom: 0.5%;
				left: 57%;
				width: 2px;
				height: 31px;
				background-color: #bea67c;
			}
		}
		&__text {
			display: none;
		}
		&__pagination {
			& .swiper-pagination-bullet {
				width: 8px;
				height: 8px;
				margin: 0px 0px 25px 0px;
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
		&__letter {
			left: 9%;
			bottom: -30.5%;
			font-size: 200px;
		}
		&__share {
			right: 16px;
		}
	}
	@media (max-width: 500px) {
		&__pagination {
			display: none;
		}
	}
}

.label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 3;
	position: absolute;
	width: 550px;
	height: 500px;
	top: 31%;
	left: -230px;
	margin: 0px auto;

	&__wrapper {
	}

	&__title {
		font-size: 100px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #bea67c;
	}

	&__button {
		margin: 51px 0px 58px 0px;
		display: block;
		width: 307px;
		height: 58px;
		border: 2px solid #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&:hover {
			& p {
				&:after {
					opacity: 1;
					top: 50%;
					right: -41px;
				}
				&:before {
					opacity: 1;
					top: 45%;
					right: -41px;
				}
				& span {
					opacity: 1;
					top: 54%;
					right: -42px;
				}
			}
		}
		& p {
			position: relative;
			font-size: 14px;
			line-height: 69px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #ffffff;
			&:after {
				transition: all 0.3s ease 0s;
				content: "";
				opacity: 0;
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				width: 34px;
				height: 1px;
				background-color: #fff;
				transform: translate(0, -50%);
			}
			&:before {
				transition: all 0.3s ease 0s;
				opacity: 0;
				content: "";
				display: block;
				position: absolute;
				width: 8px;
				height: 1px;
				top: 50%;
				right: 0;
				background-color: #fff;
				transform: rotate(45deg);
			}
			& span {
				transition: all 0.3s ease 0s;
				opacity: 0;
				display: block;
				position: absolute;
				width: 8px;
				height: 1px;
				top: 50%;
				right: 0;
				background-color: #fff;
				transform: rotate(-45deg);
			}
		}
	}

	&__touch {
		width: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__mouse {
		animation: mouse 1s linear alternate infinite;
	}
	@keyframes mouse {
		0% {
			transform: translate(0, -15%);
		}
		100% {
			transform: translate(0, 15%);
		}
	}

	&__link {
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__arrow {
		margin: 23px 0px 0px 0px;
		position: relative;
		width: 1px;
		height: 74px;
		background-color: #ffffff;
		&:before {
			content: "";
			position: absolute;
			width: 1px;
			height: 8px;
			bottom: -2px;
			left: 2.5px;
			background-color: #fff;
			transform: rotate(45deg);
		}
		&:after {
			content: "";
			position: absolute;
			width: 1px;
			height: 8px;
			bottom: -2px;
			left: -2.5px;
			background-color: #fff;
			transform: rotate(-45deg);
		}
	}

	&__text {
		margin: 55px 0px 0px 0px;
		opacity: 0.1;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		transform: rotate(90deg);
	}
	@media (max-width: 1100px) {
		top: 18%;
	}
	@media (max-width: 1000px) {
		width: 400px;
		left: -195px;
		&__title {
			font-size: 70px;
		}
		&__button {
			width: 207px;
			height: 48px;
			align-items: flex-start;
			padding: 0px 0px 0px 25px;
			& p {
				&:after {
					opacity: 1;
					top: 50%;
					right: -41px;
					width: 29px;
				}
				&:before {
					opacity: 1;
					top: 46%;
					right: -41.2px;
				}
				& span {
					opacity: 1;
					top: 54%;
					right: -41.5px;
				}
			}
		}
	}
	@media (max-width: 857px) {
		width: 320px;
		top: 23%;
		left: -215px;
		&__title {
			font-size: 55px;
		}
		&__button {
			margin: 41px 0px 48px 0px;
			width: 170px;
			padding: 0px 0px 0px 0px;
			align-items: center;
			& p {
				&:after {
					display: none;
				}
				&:before {
					display: none;
				}
				& span {
					display: none;
				}
			}
		}
		&__arrow {
			height: 54px;
		}
	}
	@media (max-width: 660px) {
		width: 100%;
		height: 100%;
		left: -68%;
		top: 2%;
		&__title {
			font-size: 45px;
		}
		&__mouse {
			display: none;
		}
		&__arrow {
			margin: 0px 0px 0px 0px;
		}
		&__text {
			font-size: 12px;
		}
		&__button {
			margin: 31px 0px 38px 0px;
			width: 130px;
			height: 42px;
			& p {
				font-size: 12px;
			}
		}
		&__arrow {
			height: 40px;
		}
	}
	@media (max-width: 500px) {
		top: 5%;
	}
}

//  <DESCRIPTION>  =====================================================

.description {
	padding: 120px 0px;
	&__body {
	}

	&__block {
		position: relative;
	}

	&__wrapper {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
	}

	&__column {
		margin: 0px 43px;
		&_img {
			flex: 0 1 616px;
			& img {
				max-width: 100%;
			}
		}
	}

	&__number {
		display: none;
		visibility: hidden;
	}
}
.info {
	&__title {
		position: relative;
		font-size: 48px;
		text-transform: uppercase;
		letter-spacing: 0.07em;
		color: #010101;
		&:before {
			content: "";
			position: absolute;
			width: 151px;
			height: 1px;
			top: 50%;
			left: -178px;
			background-color: #000;
			transform: translate(0, -50%);
		}
	}

	&__text {
		position: relative;
		max-width: 370px;
		margin: 28px 0px 32px 0px;
		font-size: 15px;
		line-height: 25px;
		letter-spacing: 0.025em;
		color: #464646;
		&:before {
			content: "";
			position: absolute;
			top: 10px;
			left: -73px;
			width: 44px;
			height: 4px;
			background-color: #bea67c;
		}
	}

	&__button {
	}
}
.lrn {
	text-align: left;
	display: block;
	width: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 0px 0px 9px 0px;
	&:after {
		content: "";
		position: absolute;
		width: 44px;
		height: 2px;
		bottom: 0px;
		left: 3px;
		background-color: #a9946e;
	}
	&:hover {
		& p {
			&:after {
				opacity: 1;
				top: 50%;
				right: -41px;
			}
			&:before {
				opacity: 1;
				top: 30%;
				right: -42px;
			}
			& span {
				opacity: 1;
				top: 60%;
				right: -42px;
			}
		}
	}
	& p {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #000000;
		position: relative;
		&:after {
			transition: all 0.3s ease 0s;
			content: "";
			opacity: 0;
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			width: 33px;
			height: 1px;
			background-color: #bea67c;
			transform: translate(0, -50%);
		}
		&:before {
			transition: all 0.3s ease 0s;
			opacity: 0;
			content: "";
			display: block;
			position: absolute;
			width: 6px;
			height: 1px;
			top: 20%;
			right: 0;
			background-color: #bea67c;
			transform: rotate(45deg);
		}
		& span {
			transition: all 0.3s ease 0s;
			opacity: 0;
			display: block;
			position: absolute;
			width: 6px;
			height: 1px;
			top: 74%;
			right: 0;
			background-color: #bea67c;
			transform: rotate(-45deg);
		}
	}
}
