//  <MAIN>  =====================================================

.main {
	background: url("../img/main/01.png") 0 0 no-repeat;
	position: relative;
	&__photos {
		position: relative;
	}
	&__slider {
		height: 1000px;
		position: relative;
		overflow: hidden;
	}
	&__navigation {
		position: absolute;
		width: 50%;
		height: 100%;
		top: 5px;
		left: -5.5%;
		z-index: 3;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__letter {
		position: absolute;
		z-index: 2;
		width: 190px;
		height: 266px;
		bottom: -10%;
		left: 17%;
		opacity: 0.07;
		font-size: 395.6px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #bea67c;
	}
	&__wrap {
		width: 38px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__number {
		position: relative;
		font-size: 52.4px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #bea67c;
		transform: rotate(90deg);
		margin: 0px 0px 85px 0px;
		&:before {
			content: "";
			position: absolute;
			width: 51px;
			height: 4px;
			top: 45%;
			left: -70px;
			background-color: #c0af91;
			transform: translate(0, -45%);
		}
	}
	&__pagination {
		display: flex;
		flex-direction: column;
		& .swiper-pagination-bullet {
			transition: all 0.7s ease 0s;
			margin: 0px 0px 40px 0px;
			width: 10px;
			height: 10px;
			background-color: #bea67c;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}
	&__right {
		position: absolute;
		z-index: 3;
		width: 51%;
		height: 103%;
		top: 0;
		right: 0;
		background: url("../img/main/02.png") right no-repeat;
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: -2%;
			left: 57%;
			width: 4px;
			height: 51px;
			background-color: #bea67c;
		}
	}
	&__text {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: -7%;
		left: 7%;
		font-size: 13.7px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #bea67c2f;
		transform: rotate(90deg);
	}
	&__share {
		position: absolute;
		width: 23px;
		height: 25px;
		bottom: 32px;
		right: 32px;
		z-index: 3;
		cursor: pointer;
	}
	&__label {
	}
	@media (max-width: 1100px) {
		&__slider {
			height: 800px;
		}
		&__navigation {
			left: -12.5%;
		}
		&__number {
			display: none;
		}
		&__text {
			top: 8%;
		}
		&__letter {
			bottom: -18%;
			left: 10%;
			font-size: 305.6px;
		}
	}
	@media (max-width: 857px) {
		&__slider {
			height: 100vh;
		}
		&__right {
			width: 41%;
		}
		&__letter {
			left: 8%;
			bottom: -28.5%;
			font-size: 230px;
		}
		&__navigation {
			top: 9%;
		}
		&__pagination {
			& .swiper-pagination-bullet {
				margin: 0px 0px 30px 0px;
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
	}
	@media (max-width: 660px) {
		&__right {
			background: transparent;
			&:before {
				bottom: 0.5%;
				left: 57%;
				width: 2px;
				height: 31px;
				background-color: #bea67c;
			}
		}
		&__text {
			display: none;
		}
		&__pagination {
			& .swiper-pagination-bullet {
				width: 8px;
				height: 8px;
				margin: 0px 0px 25px 0px;
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
		&__letter {
			left: 9%;
			bottom: -30.5%;
			font-size: 200px;
		}
		&__share {
			right: 16px;
		}
	}
	@media (max-width: 500px) {
		&__pagination {
			display: none;
		}
	}
}

.label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 3;
	position: absolute;
	width: 550px;
	height: 500px;
	top: 31%;
	left: -230px;
	margin: 0px auto;

	&__wrapper {
	}

	&__title {
		font-size: 100px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #bea67c;
	}

	&__button {
		margin: 51px 0px 58px 0px;
		display: block;
		width: 307px;
		height: 58px;
		border: 2px solid #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&:hover {
			& p {
				&:after {
					opacity: 1;
					top: 50%;
					right: -41px;
				}
				&:before {
					opacity: 1;
					top: 45%;
					right: -41px;
				}
				& span {
					opacity: 1;
					top: 54%;
					right: -42px;
				}
			}
		}
		& p {
			position: relative;
			font-size: 14px;
			line-height: 69px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #ffffff;
			&:after {
				transition: all 0.3s ease 0s;
				content: "";
				opacity: 0;
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				width: 34px;
				height: 1px;
				background-color: #fff;
				transform: translate(0, -50%);
			}
			&:before {
				transition: all 0.3s ease 0s;
				opacity: 0;
				content: "";
				display: block;
				position: absolute;
				width: 8px;
				height: 1px;
				top: 50%;
				right: 0;
				background-color: #fff;
				transform: rotate(45deg);
			}
			& span {
				transition: all 0.3s ease 0s;
				opacity: 0;
				display: block;
				position: absolute;
				width: 8px;
				height: 1px;
				top: 50%;
				right: 0;
				background-color: #fff;
				transform: rotate(-45deg);
			}
		}
	}

	&__touch {
		width: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__mouse {
		animation: mouse 1s linear alternate infinite;
	}
	@keyframes mouse {
		0% {
			transform: translate(0, -15%);
		}
		100% {
			transform: translate(0, 15%);
		}
	}

	&__link {
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__arrow {
		margin: 23px 0px 0px 0px;
		position: relative;
		width: 1px;
		height: 74px;
		background-color: #ffffff;
		&:before {
			content: "";
			position: absolute;
			width: 1px;
			height: 8px;
			bottom: -2px;
			left: 2.5px;
			background-color: #fff;
			transform: rotate(45deg);
		}
		&:after {
			content: "";
			position: absolute;
			width: 1px;
			height: 8px;
			bottom: -2px;
			left: -2.5px;
			background-color: #fff;
			transform: rotate(-45deg);
		}
	}

	&__text {
		margin: 55px 0px 0px 0px;
		opacity: 0.1;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		transform: rotate(90deg);
	}
	@media (max-width: 1100px) {
		top: 18%;
	}
	@media (max-width: 1000px) {
		width: 400px;
		left: -195px;
		&__title {
			font-size: 70px;
		}
		&__button {
			width: 207px;
			height: 48px;
			align-items: flex-start;
			padding: 0px 0px 0px 25px;
			& p {
				&:after {
					opacity: 1;
					top: 50%;
					right: -41px;
					width: 29px;
				}
				&:before {
					opacity: 1;
					top: 46%;
					right: -41.2px;
				}
				& span {
					opacity: 1;
					top: 54%;
					right: -41.5px;
				}
			}
		}
	}
	@media (max-width: 857px) {
		width: 320px;
		top: 23%;
		left: -215px;
		&__title {
			font-size: 55px;
		}
		&__button {
			margin: 41px 0px 48px 0px;
			width: 170px;
			padding: 0px 0px 0px 0px;
			align-items: center;
			& p {
				&:after {
					display: none;
				}
				&:before {
					display: none;
				}
				& span {
					display: none;
				}
			}
		}
		&__arrow {
			height: 54px;
		}
	}
	@media (max-width: 660px) {
		width: 100%;
		height: 100%;
		left: -68%;
		top: 2%;
		&__title {
			font-size: 45px;
		}
		&__mouse {
			display: none;
		}
		&__arrow {
			margin: 0px 0px 0px 0px;
		}
		&__text {
			font-size: 12px;
		}
		&__button {
			margin: 31px 0px 38px 0px;
			width: 130px;
			height: 42px;
			& p {
				font-size: 12px;
			}
		}
		&__arrow {
			height: 40px;
		}
	}
	@media (max-width: 500px) {
		top: 5%;
	}
}

//  <DESCRIPTION>  =====================================================
.description {
	padding: 133px 0px 0px 0px;
	&__body {
	}

	&__block {
		position: relative;
	}

	&__wrapper {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		&_even {
			margin: 281px 0px 0px 0px;
			flex-direction: row-reverse;
		}
	}

	&__letter {
		position: absolute;
		top: -286px;
		right: -150px;
		opacity: 0.07;
		font-size: 395.6px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #bea67c;
	}

	&__column {
		margin: 0px 43px;
		&_img {
			position: relative;
			flex: 0 1 616px;
			& img {
				max-width: 100%;
			}
		}
	}

	&__upperimg {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 39%;
		opacity: 0.2;
		font-size: 169.4px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.07em;
		color: #d0d0d0;
		transform: translate(0, -50%);
		&_2 {
			left: -59%;
		}
	}

	&__number {
		position: absolute;
		width: auto;
		height: auto;
		bottom: -93px;
		left: -174px;
		&:after {
			content: "";
			position: absolute;
			top: 100px;
			left: 50%;
			width: 4px;
			height: 51px;
			background-color: #a9946e;
			transform: translate(-50%, 0);
		}
		& p {
			font-size: 36px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.075em;
			color: #000000;
			& span {
				color: #bea67c;
			}
		}
		&_2 {
			position: absolute;
			bottom: -136px;
			left: 173%;
			transform: translate(-140px, 0);
			&:after {
				content: "";
				top: 82px;
			}
		}
	}
}
.info {
	position: relative;
	&__title {
		position: relative;
		font-size: 48px;
		text-transform: uppercase;
		letter-spacing: 0.07em;
		color: #010101;
		&::before {
			content: "";
			position: absolute;
			margin: 0px 31px 0px 0px;
			display: block;
			width: 151px;
			height: 1px;
			top: 50%;
			left: -178px;
			background-color: #000;
			transform: translate(0, -50%);
		}
		&_2 {
			text-align: right;
			position: relative;
			&:before {
				display: none;
			}
			&:after {
				content: "";
				position: absolute;
				margin: 0px 0px 0px 34px;
				display: block;
				width: 151px;
				height: 1px;
				top: 50%;
				right: -178px;
				background-color: #000;
				transform: translate(0, -50%);
			}
		}
	}

	&__text {
		position: relative;
		max-width: 370px;
		margin: 28px 0px 32px 0px;
		font-size: 15px;
		line-height: 25px;
		letter-spacing: 0.025em;
		color: #464646;
		&_2 {
			text-align: right;
			&::before {
				display: none;
			}
			&:after {
				content: "";
				position: absolute;
				top: 10px;
				right: -73px;
				width: 44px;
				height: 4px;
				background-color: #bea67c;
			}
		}
		&:before {
			content: "";
			position: absolute;
			top: 10px;
			left: -73px;
			width: 44px;
			height: 4px;
			background-color: #bea67c;
		}
	}

	&__button {
	}
}
.lrn {
	display: block;
	width: 120px;
	padding: 0px 0px 9px 0px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		width: 44px;
		height: 2px;
		bottom: 0px;
		left: 0px;
		background-color: #a9946e;
	}
	&:hover {
		& p {
			&:after {
				opacity: 1;
				top: 50%;
				right: -41px;
			}
			&:before {
				opacity: 1;
				top: 30%;
				right: -42px;
			}
			& span {
				opacity: 1;
				top: 60%;
				right: -42px;
			}
		}
	}
	& p {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #000000;
		position: relative;
		&:after {
			transition: all 0.3s ease 0s;
			content: "";
			opacity: 0;
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			width: 33px;
			height: 1px;
			background-color: #bea67c;
			transform: translate(0, -50%);
		}
		&:before {
			transition: all 0.3s ease 0s;
			opacity: 0;
			content: "";
			display: block;
			position: absolute;
			width: 6px;
			height: 1px;
			top: 20%;
			right: 0;
			background-color: #bea67c;
			transform: rotate(45deg);
		}
		& span {
			transition: all 0.3s ease 0s;
			opacity: 0;
			display: block;
			position: absolute;
			width: 6px;
			height: 1px;
			top: 74%;
			right: 0;
			background-color: #bea67c;
			transform: rotate(-45deg);
		}
	}
	&_rev {
		position: absolute;
		right: 0;
		&:after {
			display: none;
		}
		&:before {
			content: "";
			position: absolute;
			width: 44px;
			height: 2px;
			bottom: 0px;
			right: 6px;
			background-color: #a9946e;
		}
		& p {
			&:after {
				content: "";
				left: 0;
			}
			&:before {
				content: "";
				left: 0;
			}
			& span {
				left: 0;
			}
		}
		&:hover {
			& p {
				&:after {
					opacity: 1;
					top: 50%;
					left: -41px;
				}
				&:before {
					opacity: 1;
					top: 30%;
					left: -42px;
					transform: rotate(-45deg);
				}
				& span {
					opacity: 1;
					top: 60%;
					left: -42px;
					transform: rotate(45deg);
				}
			}
		}
	}
}

@media (max-width: 1545px) {
	.description {
		padding: 180px 0px 133px 0px;
		&__wrapper {
			&_even {
				margin: 230px 0px 0px 0px;
			}
		}
		&__column {
			&_img {
				flex: 0 1 416px;
			}
		}
		&__upperimg {
			font-size: 114.4px;
		}
		&__letter {
			top: -226px;
			right: -60px;
			font-size: 275.6px;
		}
		&__number {
			position: absolute;
			width: auto;
			height: auto;
			bottom: -100px;
			&:after {
				top: 60px;
				height: 41px;
				background-color: #a9946e;
				transform: translate(-50%, 0);
			}
			&_2 {
				bottom: -136px;
				left: 173%;
				&:after {
					top: 60px;
				}
			}
		}
	}
}

@media (max-width: 1300px) {
	.description {
		&__number {
			left: -120px;
			&_2 {
				left: 158%;
			}
		}
	}
	.info {
		&__title {
			&::before {
				width: 100px;
				left: -127px;
			}
			&_2 {
				&:after {
					width: 100px;
					right: -127px;
				}
			}
		}
	}
}

@media (max-width: 1170px) {
	.description {
		padding: 180px 0px 100px 0px;
		&__column {
			margin: 0px 15px;
		}
	}
}

@media (max-width: 1100px) {
	.description {
		padding: 133px 0px 100px 0px;
		&__wrapper {
			&_even {
				margin: 130px 0px 0px 0px;
			}
		}
		&__column {
			margin: 0px 25px;
		}
		&__letter {
			display: none;
		}
		&__number {
			left: 0;
			bottom: -70px;
			& p {
				font-size: 32px;
			}
			&:after {
				display: none;
			}
			&_2 {
				bottom: -110px;
				left: 122%;
			}
		}
	}
	.info {
		&__title {
			font-size: 40px;
			&:before {
				display: none;
			}
			&_2 {
				&:after {
					display: none;
				}
			}
		}
		&__text {
			margin: 20px 0px;
			&:before {
				display: none;
			}
			&_2 {
				&:after {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 855px) {
	.description {
		padding: 70px 0px 70px 0;
		&__wrapper {
			flex-wrap: wrap;
			&_even {
				flex-direction: row-reverse;
				margin: 70px 0px 0px 0px;
			}
		}
		&__column {
			margin: 0px 0px 0px 0px;
			flex: 0 1 100%;
			&_img {
				margin: 35px 0px 0px 0px;
				flex: 0 1 450px;
				&_2 {
					margin: 55px 0px 0px 0px;
				}
			}
		}
		&__number {
			display: none;
		}
		&__upperimg {
			&_2 {
				left: -42%;
			}
		}
	}
	.info {
		text-align: center;
		&__title {
			&_2 {
				text-align: center;
			}
		}
		&__text {
			max-width: 700px;
			margin: 25px auto 30px auto;
			&_2 {
				text-align: center;
			}
		}
		&__button {
			margin: 0px auto;
		}
	}
	.lrn {
		&_rev {
			left: 0;
		}
	}
}

@media (max-width: 500px) {
	.description {
		padding: 70px 0px 30px 0px;
		&__wrapper {
			&_even {
				margin: 55px 0px 0px 0px;
			}
		}
		&__column {
			&_img {
				flex: 0 1 350px;
			}
		}
		&__upperimg {
			font-size: 84.4px;
			&_2 {
				left: -46%;
			}
		}
	}
}

@media (max-width: 450px) {
	.description {
		&__column {
			&_img {
				margin: 25px 0px 0px 0px;
				&_2 {
					margin: 50px 0px 0px 0px;
				}
			}
		}
	}
	.info {
		&__text {
			margin: 20px auto 15px auto;
		}
	}
}

@media (max-width: 390px) {
	.description {
		&__wrapper {
			&_even {
				margin: 45px 0px 0px 0px;
			}
		}
		&__column {
			&_img {
				flex: 0 1 300px;
			}
		}
	}
}

//  <QUALITY>  =====================================================
.quality {
	padding: 115px 0px 150px 0px;
	text-align: center;
	&__title {
		position: relative;
		font-size: 48px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.07em;
		color: #000000;
		& span {
			letter-spacing: 0.025em;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: -30px;
			left: 50%;
			width: 44px;
			height: 4px;
			background-color: #bea67c;
			transform: translate(-50%, 0);
		}
	}

	&__text {
		max-width: 570px;
		margin: 58px auto 0px auto;
		font-size: 15.1px;
		line-height: 25px;
		letter-spacing: 0.025em;
		color: #636262;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 80px -55px 0px -55px;
	}

	&__column {
		padding: 0px 55px;
	}

	&__item {
	}

	&__photo {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&:hover {
			& a > img:first-child {
				transition: all 0.3s ease 0s;
				transform: scale(1.02);
			}
			&:after {
				width: 244px;
				height: 244px;
			}
		}
		& a > img:first-child {
			display: block;
			transition: all 0.3s ease 0s;
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			border-radius: 50%;
			width: 272px;
			height: 272px;
			border: 1px solid #e1e1e1;
			transition: all 0.5s ease 0s;
			//animation: circle 2s linear infinite normal running 0s backwards;
		}
	}

	/*@keyframes circle {
		0% {
			width: 247px;
			height: 247px;
			border: 1px solid #e1e1e1;
		}
		100% {
			width: 292px;
			height: 292px;
			border: 1px solid #e1e1e10e;
		}
	}*/

	&__link {
		z-index: 3;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		& span {
			position: absolute;
			display: block;
			width: 68px;
			height: 68px;
			opacity: 0.8;
			background-color: #bea67c;
			border-radius: 50%;
		}
	}

	&__main-img {
		display: block;
		transition: all 0.3s ease 0s;
	}

	&__triangle {
		position: absolute;
		width: 22px;
		height: 25px;
		transform: translate(15%, 5%);
		transition: all 0.3s ease 0s;
		&:hover {
		}
	}

	&__label {
		position: relative;
		margin: 48px 0px 0px 0px;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.025em;
		& a {
			color: #000;
		}
		&:before {
			content: "";
			position: absolute;
			top: -18px;
			left: 50%;
			width: 25px;
			height: 1px;
			background-color: #bea67c;
			transform: translate(-50%, 0);
		}
	}
	@media (max-width: 1100px) {
		padding: 50px 0px 50px 0px;
	}
	@media (max-width: 1030px) {
		&__wrapper {
			margin: 20px -55px 0px -55px;
		}
		&__column {
			margin: 50px 0px 0px 0px;
			flex: 0 1 50%;
		}
	}
	@media (max-width: 750px) {
		&__wrapper {
			margin: 20px -15px 0px -15px;
		}
		&__column {
			padding: 0px 15px;
		}
	}
	@media (max-width: 660px) {
		padding: 30px 0px;
		&__title {
			font-size: 40px;
			&:after {
				content: "";
				bottom: -20px;
			}
		}
		&__text {
			margin: 40px auto 0px auto;
		}
		&__wrapper {
			margin: 0;
		}
		&__column {
			padding: 0px 0px 0px 0px;
			flex: 0 1 100%;
		}
	}
	@media (max-width: 520px) {
		&__title {
			line-height: 48px;
		}
	}
	@media (max-width: 400px) {
		&__title {
			font-size: 36px;
			line-height: 42px;
			&:after {
				content: "";
				bottom: -20px;
			}
		}
	}
}

//  <RECTANGLE>  =====================================================
.rectangle {
	background: url("../img/rectangle/01.png") center no-repeat;
	background-size: cover;
	position: relative;
	height: 916px;
	&__container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		top: 48px;
		right: 5.72%;
	}

	&__image {
		flex: 0 0 865px;
		& img {
			opacity: 0.03;
			max-width: 100%;
		}
	}

	&__container-2 {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 90px;
		display: flex;
		align-content: center;
		justify-content: center;
	}

	&__bigrectangle {
		width: 80.5%;
		height: 737px;
		border: 1px solid #bea67c;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		&:before {
			content: "";
			width: 1px;
			height: 151px;
			background-color: #fff;
			position: absolute;
			top: 50%;
			left: 93%;
			transform: translate(0, -50%);
		}
	}

	&__body {
		margin: 0 0 0 210px;
	}

	&__firstline {
		display: flex;
	}

	&__bigline {
		margin: 25px 25px 0px 0px;
		width: 151px;
		height: 1px;
		background-color: #ffffff;
	}

	&__title {
		max-width: 510px;
		font-size: 48px;
		line-height: 60px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.025em;
		color: #bea67c;
	}

	&__secondline {
		margin: 45px 0px 0px 0px;
		display: flex;
	}

	&__smallline {
		margin: 9px 29px 0px 105px;
		width: 44px;
		height: 4px;
		background-color: #bea67c;
	}

	&__text {
		opacity: 0.7;
		max-width: 420px;
		font-size: 15px;
		line-height: 25px;
		letter-spacing: 0.025em;
		color: #ffffff;
	}

	&__button {
		margin: 40px 0px 0px 177px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 306px;
		height: 58px;
		border: 2px solid #ffffff;
		&:hover {
			.rectangle__video {
				flex: 0 1 25px;
				margin: 0px 14px 0px 0px;
			}
		}
		& p {
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #ffffff;
		}

		& img {
			max-width: 100%;
		}
	}

	&__video {
		transition: all 0.3s ease 0s;
		flex: 0 1 0px;
		display: flex;
	}

	@media (max-width: 1700px) {
		&__bigrectangle {
			width: 85.5%;
		}
		&__body {
			margin: 0 0 0 110px;
		}
	}

	@media (max-width: 1550px) {
		height: 820px;

		&__container {
			top: 96px;
			right: 3.72%;
		}

		&__image {
			flex: 0 0 665px;
		}

		&__bigrectangle {
			height: 650px;
		}
		&__body {
			margin: 0 0 0 70px;
		}

		&__bigline {
			margin: 22px 25px 0px 0px;
			width: 100px;
		}

		&__title {
			max-width: 420px;
			font-size: 38px;
			line-height: 45px;
		}

		&__secondline {
			margin: 35px 0px 0px 0px;
			display: flex;
		}

		&__smallline {
			margin: 9px 29px 0px 60px;
			width: 34px;
			height: 2px;
		}

		&__text {
			max-width: 390px;
			font-size: 14px;
			line-height: 24px;
		}

		&__button {
			margin: 40px 0px 0px 122px;
			width: 266px;
			height: 58px;
			border: 2px solid #ffffff;
			&:hover {
				.rectangle__video {
					flex: 0 1 20px;
				}
			}
		}
	}
}
